<div class="container">
    <div class="col-sm-6 mx-auto">
      <div class="card mt-5">
        <div class="card-body text-center">
            <h1><span class="fa fa-sign-up"></span>Nutriologo or Paciente</h1>
            <a routerLink="/nutriologo" routerLinkActive="active" class="btn btn-light">
              <span     class="fa fa-user"></span>Nutriologo
            </a>
            <a  routerLink="/paciente"  routerLinkActive="active" class="btn btn-light">
              <span class="fa fa-user"></span>Paciente
            </a>
          </div>
        
      </div>
    </div>
  </div>